[2017-08-20 22:47] ronaldtse opened #1 "Add README.adoc"
More content needed in README though.

[2017-08-20 22:48] ronaldtse opened #2 "Add MIT License"

[2017-08-20 22:48] ronaldtse opened #3 "Add RSpecs"

[2017-08-20 23:04] ronaldtse opened #5 "Add Travis CI config"

[2017-08-21 21:14] paolobrasolin commented on #2
License present in LICENSE.txt and correctly referenced in gemspec.

[2017-08-21 21:14] #2 closed

[2017-08-23 23:38] ronaldtse opened #9 "Crashes when :bibliography-database: or :bibliography-citation-style: are not set"
When these are not set the gem crashes:
[code]

Trace:
[code]

Should:
* allow processing even when there is no set database
* set a default `:bibliography-citation-style:` e.g., authoryear

[2017-08-24 00:25] ronaldtse opened #13 "Parameterize and i18n "page", "chapter", "section" named attributes"

[2017-08-24 05:03] ronaldtse opened #15 "Cite using "shorthand""
I have some `bib` files that provide the `shorthand` attribute. E.g.,

[code]

I'd like to have a mode that provides a citation using the shorthand, e.g., "[ISO:31000:2009]", instead of "[16]". With this mode obviously not all bib infos have the "shorthand" which could fall back to "authoryear" or just pure numbers ("[16]").

[2017-08-24 05:04] ronaldtse opened #16 "Allow simple citation references like "[16]""
Now we support `authoryear` and `numbers` but the gem doesn't provide functionality to do simple citations like "[16]". Could we have another option such as `purenum` to enable this?

Or better year, make `number` show "[16]" and `authornum` show "AuthorLastName [16]" ?

[2017-08-24 05:18] ronaldtse opened #18 "Order of bibliography problem"
I'm using `alphabetical` now but the bibliography comes out like this:

[code]

However, the citation numbers themselves should also be according to this order.

[code]

[2017-08-24 05:23] ronaldtse opened #19 "Update README to show that we can use all CSL citation styles"
The gem allows all CSL styles that can be found in `csl/styles`, such as:

[code]

We should update the README to show this.

[2017-08-24 05:28] ronaldtse opened #20 "Provide more "Citation Key" styles"
Currently we only support "numbers" and "authoryear" citation styles:

[code]

We should support more "citation key" styles. The CSL library already provides multiple styles we could use:

* "[HiNJ16]" from DIN 1505-2 (alphanumeric, German)
* "[3]" the numeric style
* "AuthorLastName (YEAR)" `authoryear`, etc.

[2017-08-26 18:50] #9 closed

[2017-08-26 18:50] #18 closed

[2017-09-10 16:57] paolobrasolin commented on #20
All CSL styles are now supported.
Some need metadata (`citation-label`, `citation-number`) thatn may be missing in some databases. An improvement would be to have a switch to fill it out in the (few) standard ways.

[2017-09-10 16:58] paolobrasolin commented on #16
Now inline citations are rendered using CSL by default.
This means that is style can be obtained coherently (e.g. using ieee).

[2017-09-10 17:04] paolobrasolin commented on #15
Writing the ISO CSL style and using a switch to prefill the `citation-label` using `shorthand` is the best way to go.

[2017-09-10 17:06] paolobrasolin commented on #13
Do you mean that the rendering of the locators should be localized, or that one could use both "chapter" and "chapitre" as an option? The former case is now taken care of by CSL (but not using the TeX-like macro renderer).

[2017-09-11 04:39] ronaldtse commented on #13
Yes indeed, the rendering should be localized 👍  If it's already done feel free to close this!

[2017-09-11 08:30] ronaldtse commented on #18
Closed by #24

[2017-09-12 03:08] ronaldtse commented on #20
@paolobrasolin could you help document the allowed options in the README then? Thanks!

[2017-09-12 03:08] ronaldtse commented on #19
@paolobrasolin since this is done can we close this?

[2017-09-12 03:19] ronaldtse opened #31 "Citations no longer showing "context""
For example in the IEEE style, this:
[code]

Will show:
[code]

It should show something like:
[code]

[2017-09-12 03:29] ronaldtse commented on #16
Yes '[16]' style works with the `ieee` style.

However the bibliography shows lines like this:
[code]

Notice that a white space is missing after the reference "[1]". In DIN style the whitespace is correctly put there.

[2017-09-12 03:33] ronaldtse opened #32 "Bibliography sorting issue"
This style gives me a sorted bibliography, which is correct:
[code]

Output:
[code]

However, this gives me an unsorted one:
[code]

Output:
[code]

[2017-09-12 19:09] paolobrasolin commented on #32
Ok, I can see why. Let's completely determine the desired behaviour.

The reason why that is happening is that CSL in general can prescribe (separately) complex sorting criteria for both grouped citations and bibliographic indices. (It is now prevailing upon the custom options).

To me, it'd make sense that by default sorting is performed using the criteria given by the CSL style, and that could b

[2017-09-12 19:15] ronaldtse commented on #32
@paolobrasolin agree that we should fully specify the behavior.

These should be good enough?
* author (last name of first (author or editor))
* label ([1] or [aicpa], etc)
* appearance (order of appearance in document)
* title
* date (year / month / day)
* publisher
* institution
* shorthand ?
* type

[2017-09-12 19:16] paolobrasolin commented on #31
That's actually expected behaviour: the only locators included by the CSL spec are: book, chapter, column, figure, folio, issue, line, note, opus, page, paragraph, part, section, sub-verbo, verse, volume.

This means these are the only ones that we can expect to be rendered by a CSL style (that implements them).

I think that it should be possible to use a generic unqualified locator and let the s

[2017-09-12 19:17] #19 closed

[2017-09-12 19:20] paolobrasolin commented on #16
I think that's either a bug in the `ieee` style (I seriously doubt that) or a misconfigured default in `citeproc`. Looking into that.

[2017-09-12 19:23] ronaldtse commented on #31
Or maybe just:
[code]
?

I can't figure out how to use those locators -- the underlying CSL style needs to support them first, right?

[2017-09-14 21:38] paolobrasolin commented on #32
I had an idea; I wrote a stub for a general sorting mechanism in the branch `sorting`. You can find a sample use in the `standard/sample-deafult.adoc` sample.

Here is my reasoning. If we implement custom-named sorting styles, we must also make assumptions about how the CSL styles are structured: while the *variables* are defined by the CSL spec, what we're really interested in is *macros*. Those

[2017-09-14 23:34] ronaldtse commented on #32
This is indeed a really good idea. The less magic we do the more predicatable the behavior.

Let's go for it. Thanks!

[2017-09-14 23:38] ronaldtse opened #33 "Missing bibliography item in BibTeX file caused mysterious error"
When I cite an item that isn't in the database file, the gem throws a "nil cannot be converted to string" error.

What happens is actually the "find" method is unable to find the item, then the immediate subsequent code assumes the return is a string instead of nil.

I think we should offer proper StandardError classes for expected errors, such as BibItemNotFoundInDatabase, to directly tell the us

[2017-09-17 17:26] paolobrasolin commented on #33
Specific error will be solved by PR of branch citations.
In general, more care is taken about resilience.

[2017-09-17 17:27] paolobrasolin commented on #32
Implemented and documented in branch sort-option.

[2017-09-17 17:30] paolobrasolin commented on #20
CSL styles are now fully supported. Basic traditional TeX styles are too. Both are documented. (branch `citations`).

[2017-09-17 17:31] paolobrasolin commented on #31
Branch citations implement prefix, suffix, all standard CSL locators and a custom "locator" locator. TeX macros will require a bit more thought.

[2017-09-17 17:33] paolobrasolin opened #37 "Implement native :adoc format for Citeproc"
This should be pretty cheap and would assure all styles are rendered correctly and directly in the correct format (instead of regexping our way around html a posteriori).

[2017-09-17 17:51] paolobrasolin opened #38 "Better TeX macros"
One first improvement would be to allow for a `bibpunct` option in header that allows the full range of styling one is used to.

A second step is to allow a complete analogy to TeX syntax.
On one hand, it'd be nice to have automatically defined locators (making them localizable is not trivial), on the other hand a user coming from the TeX world is more or less accustomed to inputting an arbitrary

[2017-09-18 06:11] ronaldtse commented on #38
@paolobrasolin agree on both that we should allow a full analogy to TeX syntax. Prefix and suffix should be an easy and immediate win, that we should do now.

We could also go the CSL route so we can implement the styles there. Feel free to suggest.

[2017-09-18 07:24] ronaldtse commented on #33
Sounds good. Should this be closed now due to #38?

[2017-09-18 07:26] ronaldtse commented on #32
Ready to close as #35 is merged?

[2017-09-18 07:26] ronaldtse commented on #31
Should we close this due to #39?

[2017-09-18 07:26] ronaldtse commented on #20
Close due to #39?

[2017-09-18 07:26] ronaldtse commented on #16
Any news on this? Thanks!

[2017-09-18 07:27] ronaldtse commented on #15
Agree. There does not seem to be an agreed practice on how to BibTeX cite ISO documents yet. Perhaps you can formalize a method based on ISO 690?

http://dominiodelasciencias.com/ojs/documentos/ISO690-2010.pdf

[2017-09-18 07:30] ronaldtse commented on #37
@paolobrasolin I'm not entirely sure what it means...

Are you saying that we should:
* create a new `AsciiCite` format
* create a `AsciiCite` to CSL converter

?

[2017-09-18 20:50] paolobrasolin commented on #33
Yes. Closing.

[2017-09-18 20:50] #33 closed

[2017-09-18 20:50] paolobrasolin commented on #32
Ready. Closing.

[2017-09-18 20:50] #32 closed

[2017-09-18 20:53] paolobrasolin commented on #31
Problem is solved for CSL citations but not yet for TeX ones.
However #38 is a better place to discuss that in order to keep things separated. Closing.

[2017-09-18 20:53] #31 closed

[2017-09-18 20:54] paolobrasolin commented on #20
Closing. We'll use #38 to plan more custom styles the TeX macros might need.

[2017-09-18 20:54] #20 closed

[2017-09-18 21:02] paolobrasolin commented on #37
Sorry for lack of clarity. Citeproc (the engine applying CSL styles to bibliographical data) uses Formats. That is, simple classes that render basic style elements (bold, italis, smallcaps, etc) in a format-aware way (plain text, html).

See http://www.rubydoc.info/gems/citeproc-ruby/CiteProc/Ruby/Formats/Html
This is the one we're currently using. After rendering we're regexping our way from html

[2017-09-24 22:49] paolobrasolin commented on #1
While it could use some polishing, it's up to date. Closing.

[2017-09-24 22:49] #1 closed

[2017-09-24 22:51] paolobrasolin commented on #3
Reached 85% with #42

[2017-09-24 22:51] paolobrasolin commented on #5
It seems to me that now everything's correctly configured and working. Closing.

[2017-09-24 22:51] #5 closed

[2017-09-24 22:56] #13 closed

[2017-09-24 22:56] #37 closed

[2017-09-24 22:56] #38 closed

[2017-09-27 05:43] ronaldtse commented on #16
@paolobrasolin any updates here? Thanks!

[2017-09-27 20:01] paolobrasolin commented on #16
Yes! I finally got it.
It wasn't a bug or any other deficiency in the style or the rendered.

Long story short, the IEEE style prescribes the numeric labels to be on the margin of indented text (the rest of the citation). The implementation of the formatting depends upon the output format. In fact, the visual editor renders this perfectly. `citeproc` is capable of that too (e.g. using css classes

[2017-09-27 22:44] ronaldtse commented on #16
Thanks @paolobrasolin !

[2017-09-28 23:26] #16 closed

[2017-09-29 09:01] ronaldtse opened #44 "Failed to load AsciiDoc document - undefined method `lines' for nil:NilClass"
This error happens on 0.4.1...

[code]

Better error handling?

[2017-09-29 23:35] #44 closed

[2017-09-29 23:49] ronaldtse opened #46 "Serious error in 0.4.x: broken `includes::`"
My document is actually not compiling using 0.4.x but is perfect with 0.2.x / 0.3.x.

It seems that in 0.4.x the `includes::` directive is not working at all. Maybe there is some place that the gem is parsing and taking away the directive from the original asciidoctor engine?

[2017-09-30 03:53] #46 closed

[2017-09-30 03:59] ronaldtse commented on #46
Yes it's fixed!

[2017-09-30 04:01] ronaldtse opened #48 "Add tests for sanity checking"
@paolobrasolin we should have some tests that guard against the issue we had with #46 .

Basically to ensure original asciidoctor functionality doesn't get broken with our gem. Thanks!

[2017-10-03 02:33] #48 closed

[2017-10-20 09:14] opoudjis opened #51 "Needs more examples of bibliograph"
In particular, needs more examples of RFCs!

https://tm.uka.de/~bless/rfc.bib has all RFCs in Bibtex; that'd be useful to cite in README too.

[2017-10-20 10:03] opoudjis opened #52 "bibliography-database location"
The execution of asciidoctor currently assumes that the bibliography-database is in the current directory where the executable is run. Consistent with how asciidoctor works, the bibliography-database should be assumed to be in the same directory as the asciidoc file.

So:

[code]

Is expecting to find rfc6350.bib in ./ . It should in fact expect to find it in spec/examples/ .

[2017-10-20 10:18] opoudjis opened #53 "Default style"
The current default style is APA. But the style we want for inline citations is the reference abbreviation in brackets; so the inline citation of RFC5322 should be in fact `[RFC5322]`, not `(Resnick, 2008)`. Is there such a reference style in CSL? If not, can we make one? I'm nervous about APA-style citations making it into RFC XML.

[2017-10-20 10:57] opoudjis opened #54 "No RFC XML output!"
I'd assumed that this gem would take bibtex input, and output native RFC XML bibliography; e.g.

Input:

[code]

Output (RFC XML v2):

[code]

Instead, as far as I can tell, the output is:

[code]

I hate to say this, but this is _useless_ for asciidoctor-rfc. If bibliography::[] is not generating XML with that markup, it is not generating anything that can be used in asciidoctor-rfc.

What I assu

[2017-10-20 11:01] opoudjis opened #55 "Segregating normative and informative bibliography"
I strongly recommend that the differentiation between normative and informative bibliography items occur through attributes of the bibtex item: e.g. possibly

[code]

or

[code]

Once that is done, instead of having a single macro instance `bibliography::[]`, we would have two instances, one for each type of bibliography:

[code]

[2017-10-20 11:11] opoudjis opened #56 "relref compatible references"
In asciidoctor-rfc, I have special processing of particular replacement text in cross references:

[code]

is expected to convert into

[code]

Whatever is going on in cite:[xxxx] with asciidoctor-bibliography, I want those cross-references to work like that still. Right now they don't, because the target `RFC5322` is being replaced by asciidoctor-bibliography with `bibliography-RFC5322`.

Even if

[2017-10-21 03:56] ronaldtse commented on #52
@opoudjis fully agree. @paolobrasolin could you help with this? Thanks!

[2017-10-21 03:57] ronaldtse commented on #53
@opoudjis yes we would need a separate CSL style to render in RFCXML. @paolobrasolin could probably help with the PR to the https://github.com/citation-style-language/styles repo.

[2017-10-21 03:58] ronaldtse commented on #54
@opoudjis you are again correct, we will need an output style that generates RFC XML, and the best way to do so is to create a CSL bibliography style (https://github.com/citation-style-language/styles).

@paolobrasolin would you be able to do so? Thanks!

[2017-10-21 04:08] ronaldtse commented on #55
I agree with @opoudjis that we have a strong need to separate bibliography groups. However I don't think BibTeX is the right place to do it because it corrupts the BibTeX file -- the BibTeX file is simply the database for ALL bibliography items and is often just a huge collection that is shared between multiple documents (sorry I do that a lot).

On the other hand, the MMark concept of "upgrading"

[2017-10-21 15:32] blablatros commented on #55
I agree that grouping should be done in the document, not the bibtex file.

We should also consider the possibility that one bibliography item can belong to two or more groups.

[2017-10-22 00:19] ronaldtse commented on #55
Indeed, and the decision whether a bibliography item should belong to multiple groups should be decided by the “citer”.

[2017-10-22 12:33] paolobrasolin commented on #55
I agree with @ronaldtse and @blablatros in thinking that DB data should be agnostic with respect to groupings. Groups are in essence "roles" and will almost surely depend upon the specific use the citer makes of the entries.

I gave some thought to groupings when writing the macro parser and laid some simple groundwork.
What I had in mind was using the *target* syntax for asciidoctor macros. I.e.:

[2017-10-22 12:37] paolobrasolin commented on #56
That's a fair point. The focus was on using CSL (and TeX)  styles with ease, so no "arbitrary text" citation macro exists. Definitely a must-have, though. (Same goes for the arbitrary link taget, at least to ease inter-operation with other extensions.)

[2017-10-22 12:44] paolobrasolin commented on #54
As @ronaldtse states, fixing the issues amounts to writing a CSL style.
I don't think I need your assistance with this @opoudjis. However, could you please paste a link to a reference for bibliographic data structures for v2 and v3, so I'll be sure to refer to the correct ones?

[2017-10-22 12:46] paolobrasolin commented on #53
@opoudjis This is strictly related to #54 and #56, so this will be solved along with them.

@ronaldtse Would it make sense to have no default style and always require an explicit one? Might avoid some minor confusion for users.

[2017-10-22 12:47] paolobrasolin commented on #52
@ronaldtse @opoudjis Will do.

[2017-10-22 13:53] ronaldtse commented on #53
@paolobrasolin I think we should always have a default style, but as mentioned here, we probably should print it out in the output like this to prevent confusion?

[code]

And for `doctype: rfc` we can use the [RFC1234] style by default.

[2017-10-22 14:26] ronaldtse commented on #54
@paolobrasolin here's a real-life example of a v2 that uses pretty much all the syntax options.

[code]

See [RFC 7749](https://tools.ietf.org/html/rfc7749) for v2 syntax.

In particular:
* [`<references>](https://tools.ietf.org/html/rfc7749#section-2.31)
* [`<reference>](https://tools.ietf.org/html/rfc7749#section-2.30)
* [`<front>`](https://tools.ietf.org/html/rfc7749#section-2.19): supports `<t

[2017-10-22 14:30] ronaldtse commented on #56
@opoudjis @paolobrasolin I actually didn't understand the issue before but now I finally get it. This is indeed a must-have!

[2017-10-22 14:32] ronaldtse commented on #55
@paolobrasolin the syntax looks great to me! If there is no `group` given we can keep the reference in the "default" reference group.

[2017-10-23 23:17] opoudjis commented on #53
@paolobrasolin : if asciidoctor-bibliography will only ever be used in the context of asciidoctor-rfc, then only the RFC output style is relevant. I don't know whether it is or not; @ronaldtse hints that it isn't.

[2017-10-23 23:21] opoudjis commented on #54
Per #51, all RFCs in Bibtex are here: https://tm.uka.de/~bless/rfc.bib , and a bunch of *official* RFC XML are available from IETF; e.g.

[code]

[2017-10-23 23:22] ronaldtse commented on #53
@opoudjis asciidoctor-bibliography is already used in other cases outside asciidoctor-rfc, we simply want it to support asciidoctor-rfc as well.

[2017-10-23 23:24] ronaldtse commented on #54
Actually you can find all official RFC XML documents in the "Citation Libraries" section of this page:
https://xml2rfc.tools.ietf.org

There's also a tool called `doilit` from https://github.com/cabo/kramdown-rfc2629/ that helps you retrieve a DOI document from the IETF library (even though the results aren't always useable).

[2017-10-23 23:24] opoudjis commented on #54
v3 RFC XML references are v2 RFC XML references, plus some extra stuff: annotations, and "refcontent", which is free text interpolated before the end of the reference (e.g. "self-published pamphlet".) For our purposes, I believe we can ignore those differences.

[2017-10-23 23:28] opoudjis commented on #54
The main challenge I think you'll find, @paolobrasolin, is that the RFC XML references are heavily biased towards standards documents as  a specialised kind of journal: populating the seriesInfo element will be critical, where possible. seriesInfo is in theory a journal equivalent, but no page numbers, and idiosyncratic notions of status and stream.

I'd recommend that if you can get native RFC XM

[2017-10-23 23:31] opoudjis commented on #54
For non-IETF standards (such as ISO), which also need seriesInfo, see the examples in https://raw.githubusercontent.com/riboseinc/rfc-openpgp-oscca-adoc/master/sections/98-references.adoc (raw xml).

[2017-10-23 23:33] opoudjis commented on #55
That works. The abbreviations "norm" and "info" are going to be more user-friendly, and we can assume them for asciidoctor-rfc.

[2017-10-25 05:14] blablatros commented on #55
It is better to let the users choose group names.

For example, social sciences, especially history, often groups references into "primary" and "secondary".

[2017-10-25 07:26] ronaldtse commented on #55
@blablatros indeed we should allow users to choose group names.

I think @opoudjis just means that in the `asciidoctor-rfc` gem we could have some special syntax to use those bibliography groups, because those are specific requirements of an RFC. Or perhaps we don't even need to specify those specific groups at all since the syntax above is quite clean and simple?

[2017-10-29 17:09] paolobrasolin commented on #54
I did some extensive tests. I'm afraid the CSL data structures (and Citeproc, and BibTeX for that matter) are unable to represent all needed structured data for RFC citations. Also, CSL renderers have kind of a bad time rendering structured XML.

As @opoudjis states to handle RFC citations you pretty much need RFC XML. Transformations like BibTeX -> RFC or BiBTeX -> Citeproc -> RFC will be inheren

[2017-10-29 23:41] opoudjis commented on #54
FWIW, the XML-based workflow in samples I've seen seems to have been XML entities for RFC standards, and inline XML for non-RFC standards. Which aligns to import RFC XML vs author bibtex in what you'd be doing.

[2017-11-01 03:55] #52 closed

[2017-11-01 03:58] #55 closed

[2017-11-01 07:12] ronaldtse commented on #56
I just tried today and unfortunately it doesn't work yet. Any ETA @paolobrasolin ? Thanks!

[2017-11-01 07:13] ronaldtse commented on #54
@paolobrasolin sounds like a good plan -- could you help implement this? This seems like the only remaining issue before asciidoctor-rfc can be used full on! 👍

[2017-11-01 12:45] paolobrasolin commented on #56
Will get this done before the week ends.

[2017-11-01 12:55] ronaldtse commented on #56
Appreciate it @paolobrasolin !

[2017-11-02 06:44] ronaldtse commented on #15
@paolobrasolin is this issue still valid? Thanks

[2017-11-05 17:33] paolobrasolin opened #59 "Allow citation with arbitrary text"
An option to allow an (hyperlinked) citation to be rendered using arbitrary text is desirable.
This was indirectly suggested in #56.

The current syntax for affixes and custom locators to be embedded in CSL rendered styles is
[code]

I suggest using an option superceding the three above, like
[code]

We could also use a macro with another name, or an unnamed parameter (i.e. the second one by conve

[2017-11-05 17:35] paolobrasolin commented on #56
This issue will be closed along with #54, since the two are strictly related; I'm splitting the feature request (non strictly necessary for closure) into #59.

[2017-11-05 18:46] paolobrasolin commented on #15
It is. I gave this some thought.

I think the best way to handle this kind of situation, since there is no fixed convention for BibTeX data structure, would be to introduce an option like
[code]
that would produce an (hyperlinked if necessary) citation text `[ISO 21000:2009]`.
That is, we let the user specify an arbitrary (text) field to use as a citation body.
This has the bonus of solving some o

[2017-11-05 20:59] paolobrasolin commented on #54
Ok, I set up the rendering as a custom style that renders XML wrapped in a passthrough. It seems to me it's the bet way to ensure the code gets safely to the final rendered file.

I whipped up a quick integration test on this branch https://github.com/riboseinc/asciidoctor-rfc/tree/cite-test-deleteme

A few details are missing (i.e. automatically setting up options when using rfc `doctype`).
Howev

[2017-11-06 00:04] ronaldtse commented on #15
@paolobrasolin I agree with this approach since the “by” keyword could also refer to other bibtex keys too. And in any case, the gem should support bibliography databases beyond just bibtex in the future!

[2017-11-06 03:23] ronaldtse commented on #59
@paolobrasolin I agree this will be the simplest syntax. However it would be even better if we can place a "placeholder" in the middle of the text for the original reference, like `cite:[Aa2017, text="Section 3 of {ref}, middle paragraph"]` ?

[2017-11-07 18:23] ronaldtse commented on #54
@paolobrasolin I think there is some issue with `asciidoctor-rfc` as nokogiri wasn't fully implemented. Would you be able to fully migrate it to nokogiri? Thanks!

[2017-11-11 14:11] paolobrasolin commented on #59
@ronaldtse seems fair to me.
Just for clarity, These two lines would produce the same exact output:
[code]

[2017-11-11 14:12] paolobrasolin commented on #54
@ronaldtse I'm getting up to speed with the code and taking care of that.

[2017-11-11 15:15] paolobrasolin commented on #54
@ronaldtse found the bug. taking care of that.

[2017-11-12 10:26] ronaldtse commented on #59
@paolobrasolin totally fine with me. Thanks @paolobrasolin !

[2017-11-12 10:26] ronaldtse commented on #54
Thank you @paolobrasolin ! Really looking forward to ensuring that Nokogiri is used for all XML...

[2017-11-12 17:25] paolobrasolin commented on #54
@ronaldtse Ok, the use of nokogiri was directly responsible for the malfunctioning, so I'll leave that to the [other existing issue](https://github.com/riboseinc/asciidoctor-rfc/issues/65).

`asciidoctor-rfc` now has a branch with a fix and a working demo for `V2`. It relies on `feature-54` in this repo. I'm writing a demo for `V3` now. Then I'll merge and we can release 0.7 of `asciidoctor-biblio

[2017-11-13 03:03] ronaldtse commented on #54
Thank you @paolobrasolin, you have no idea how much I’m hoping this gets done :wink:

[2017-11-13 07:39] paolobrasolin commented on #54
@ronaldtse #60 all green, ready to merge and be released as `v0.6.0`.

[This RFC branch](https://github.com/riboseinc/asciidoctor-rfc/tree/bibliography) uses the feature branch of #60 and [contains both a V2 and a V3 example](https://github.com/riboseinc/asciidoctor-rfc/tree/bibliography/spec/examples) with references named as `refs-v*`.

Finetuning on the `rfc` side might be needed, but the mecha

[2017-11-14 00:00] opoudjis commented on #54
Sorry I was incommunicado last week, @paolobrasolin ; Day job blew up, lots of overtime.

OK, ticket me in `asciidoctor-rfc`, but my intention is to get a little toy example into rspec, and then more and more.

[2017-11-14 10:58] opoudjis commented on #59
OK, let me know when ready.

[2017-11-14 11:26] opoudjis commented on #54
The `bibliography::norm[]` etc macro is working fine, and you will have worked out Paolo what was happening—that I was expecting XML pass for references in `++++`, which your macros now respect.

[2017-11-14 12:10] opoudjis commented on #59
I have `<<crossreference#fragment,section_number (of|comma|parens|bare): text>>` in Asciidoc, which allows `#fragment` to be appended to any URL for the reference. Would that `fragment` correspond to the locator argument of the macro?

[2017-11-14 12:19] opoudjis commented on #59
This is how I've reconstructed what the expected asciidoc-bibliography format would be, in the README. Let me know if this is ok:

[code]

[2017-11-14 13:31] opoudjis opened #61 "Citations in v3 are producing spurious relrefs"
In v3, `cite:info[RFC2119]` is supposed to render as `<xref target="RFC2119"/>`; it is ending up rendering incorrectly as `<relref target="RFC2119"/>`.

As far as I can tell, that's occurring inside the gem: it happens when I run it just as `asciidoctor -r asciidoctor-bibliography refs-v3.adoc`

The problem is that in v3, there is differential  output depending on the format of what is contained i

[2017-11-14 17:25] #54 closed

[2017-11-14 17:25] #56 closed

[2017-11-14 18:59] ronaldtse commented on #54
@paolobrasolin 0.51 and 0.6 both released now 👍

[2017-11-16 12:13] opoudjis commented on #61
I tried to do this myself, and didn't get very far.

[code]

works on the rspec of asciidoctor-bibliography and generates `<<ref>>`, but I couldn't get it to propagate into my call of asciidoctor-rfc2, so I couldn't tell whether it would be processed as is by that gem. :-(

[2017-11-19 01:08] opoudjis commented on #61
It occurs to me that overloading the cite macro contents may be overkill; a relref can be indicated by passing a "section" attribute to the macro, just as a "format" attribute can be passed to the macro.

[2017-11-19 19:35] paolobrasolin commented on #61
I fixed the "simple citation" bug (changing the tag name) in #62.
However the CSL style isn't really the place to implement this logic (has decent logic control but it's too structured). I also feel that neither `asciidoctor-bibliography` is (outside of domain).

However with #63 we should now have enough flexibility to do whatever we want.
Btw, given we're using `<<..>>` interpolations it doesn't

[2017-11-19 21:14] paolobrasolin commented on #59
The arbitrary-text feature is implemented in #63.
The "bug" outlined in #61 is partially fixed in #62.

The required `asciidoctor-bibliography` options are

[code]

Citing with ´cite:norm[RFC0000]´ (resp. `info`) will get you the correct `xref` tag for both V3 and V3.

To produce bibliographies, you can

[code]

To get advanced features for V3, you can just feed in the rendered tag.

[code]

(Note

[2017-11-22 10:15] opoudjis commented on #59
OK, I'll take it for a spin and let you know. XML in the text tag is a little brute-force, but I see that getting ascii-bibliography to do the heavy lifting would have been retrograde.

[2017-11-22 10:21] #59 closed

[2017-11-23 09:27] opoudjis commented on #59
Welp, it's working.

I'm not in love with making people redundantly give the anchors twice in the macro (the {cite} interpolation does not work), or in fact with making people put raw XML in the macro at all; but I understand that we don't have that much wiggle room here.

I've incorporated the citation macros into the asciidoctor-rfc readme and rspec:

[code]

[2017-11-23 09:47] #53 closed

[2017-11-23 10:33] opoudjis opened #65 "support citations of referencegroup"
In RFC XML v3, citations may be of not only `reference` elements, but of `referencegroup` elements, which group multiple `reference` elements together. So the following citation should be possible:

[code]

citing:

[code]

Currently it crashes, complaining that the reference RFC3552_5226 could not be found.  (I've put this example into the asciidoctor-rfc rspec.)

[2017-11-24 07:42] opoudjis commented on #61
Btw, the correct behaviour is in rfc-v3.csl not rfc-v2.csl : the default citation needs to be `<xref/>` not `<xref>[citation]</xref>` in order for it to play well with xml2rfc. Am commenting out rfc-v2.csl code.

[2017-11-24 07:50] opoudjis commented on #61
... actually, not even that. The correct behaviour for v3 would be:

[code]

And from what I gather, we've given up on that; CSL is just not that powerful. So not even the locator behaviour is desirable; we'll be using text attributes instead throughout, with raw XML. Again, not happy with that solution, but so long as we're relying on CSL, we're stuck with it.

[2017-11-24 10:10] opoudjis opened #66 "Feeds of canonical RFC XML formatted bibliographies"
Are in https://xml2rfc.tools.ietf.org and zipped. If that helps?

[2017-11-24 10:14] ronaldtse commented on #66
I think we should allow RFC entity directives just like MMark does so that we don’t need to pull in the RFC references, but allow xml2rfc to do it.

I have already been downloading RFC references from this site and it’s really annoying.

[2017-11-25 12:23] opoudjis commented on #66
This would mean that, whenever a preformatted reference was known to be available, the gem would need to insert not the preformatted reference in the biblio, but the following:

In the stylesheet of the XML document:

[code]

and in the bibliography itself:

[code]

The asciidoctor-rfc would presumably have to have the smarts of rearranging the XML, recognising the entities in the bibliography, an

[2017-11-25 13:37] ronaldtse commented on #66
When `asciidoctor-rfc` sees a references like `<<RFC1234>>` or `<<I-D.author-topic-num>>` (or we give it some prefix, e.g., `<<ietf:RFC1234>>`, then this reference should be inferred to be an external one, and:

1. Rendered in the XML stylesheet as `<!ENTITY...>`
2. Rendered inside the `<references>` section
3. Known by `asciidoctor-bibliography` that the reference is external.

@opoudjis It's har

[2017-11-26 23:13] opoudjis commented on #66
I can do all of this in isolation from asciidoc-bibliography; it's the interaction with asciidoc-bibliography that I'm worried about.

[2017-11-27 23:45] opoudjis commented on #66
Done in asciidoc-rfc.

[2017-12-13 22:29] paolobrasolin commented on #61
Unfortunately while CSL/Citeproc (= styling/structuring) cover most common publishing needs they are respectively awkward in rendering code and not arbitrarily extensible.

They were chosen because of their wide adoption (= huge high quality style database) and because the project is a moral heir of `asciidoctor-bibtex`.

I think the only way to cleanly handle the situation would be to define a ne

[2017-12-13 22:33] paolobrasolin commented on #66
I think I might be missing some points. I'll get back to speed with the changes `asciidoctor-rfc` and report back with some questions.

[2017-12-14 00:09] ronaldtse commented on #61
I've been actually talking to @opoudjis that there should be a better data model for handling bibliographic items and references to documents, and also their formatting into text/syntax.

Let's resolve with a bugfix for now and see how else we can streamline the processing?

[2017-12-14 02:45] opoudjis commented on #66
https://github.com/riboseinc/asciidoctor-rfc/issues/86 . In accordance with that ticket, the scope of asciidoctor-biblio would be reduced to BibXML/RFC XML conversion...

[2017-12-14 21:48] opoudjis commented on #61
Agreed, Paolo.

[2017-12-19 01:35] ronaldtse opened #67 "Recursive inclusion of directories for bibliography database files"
Originally from https://github.com/riboseinc/asciidoctor-rfc/issues/76

I think the new way of using a large XML file with all references could be broken down to individual files -- in this repo (https://github.com/riboseinc/rfc-in-asciidoc-template) I included the "IncludeGlobProcessor" to allow the "*" file filter syntax for including all files in a directory.

We can allow a new option called `

[2018-01-22 16:08] oliviercailloux opened #68 "book with editor and no author"
Thanks for this great extension. Very easy to use and useful.
When using a reference to an edited book and apa style, the reference shows up incorrectly. Not sure if asciidoctor-bibliography is responsible for this or if there’s a bug in apa style (unlikely) or in zotero export to bibtex (unlikely) or if I’m doing something incorrect (likely).

cite.bib
[code]

cite.adoc
[code]
$ `asciidoctor -r a

[2018-01-22 17:30] ronaldtse commented on #68
@oliviercailloux thank you for letting us know!

@paolobrasolin could you help check -- thanks!

[2018-01-23 22:24] paolobrasolin commented on #68
Thanks for the accurate report, @oliviercailloux!

The behaviour you are seeing is expected.

**You can achieve the output you desire by using `cite` instead of `citep`.**

The `cite` macro renders citations using the style set by the `bibliography-style` option.
The `citep` macro and [its siblings](https://github.com/riboseinc/asciidoctor-bibliography#tex-mode) are meant for rendering citations i

[2018-01-23 22:40] oliviercailloux commented on #68
I am quite sure that \citep in LaTeX would produce the thing I expect: A test (Editor, 2010), rather than the thing I got: A test (2010). (I didn’t check to be honest, but I use LaTeX with zotero since a long time so I would have expected such an odd behavior.)

[2018-01-24 18:11] paolobrasolin commented on #68
I think I get what @oliviercailloux means, now. He is right.

There are many ways to format APA citations in LaTeX: [Alan Munn wrote an excellent writeup about that](https://tex.stackexchange.com/a/263800/82186). The essence is that the family of macros including `\citep` are defined by `natbib` and depend on its `bst` styles.

Usually in LaTeX one is used to staying away from `\cite` because of i

[2018-01-24 19:07] oliviercailloux commented on #68
But, when I change the `:bibliography-style:` in my document (where I use exclusively citep and citet), the style changes.

See this [source](https://raw.githubusercontent.com/oliviercailloux/deliberated/internship-2018/Voting-PhD.adoc) and the resulting [pdf](https://raw.githubusercontent.com/oliviercailloux/deliberated/internship-2018/Voting-PhD.pdf). Look at for example the ref to Lipton (last

[2018-01-30 05:07] ronaldtse commented on #61
Since @opoudjis pinged me on this, I think the next thing is to adopt the new bibliography data model in https://github.com/riboseinc/isodoc-models .

@paolobrasolin what's your plan?

[2018-01-30 05:08] ronaldtse opened #69 "Use new Bibliography data model"
Since @opoudjis pinged me on this, I think the next thing is to adopt the new bibliography data model in https://github.com/riboseinc/isodoc-models .

@paolobrasolin thoughts?

[2018-01-30 05:08] ronaldtse commented on #61
Closing and moving to new issue #69.

[2018-01-30 05:08] #61 closed

[2018-02-01 17:40] shahryareiv opened #70 "Wrong alert: bibliography-database: is mandatory"
I have BibLatex (not bibtex) file and this extension throws:
`Failed to load AsciiDoc document - Option :bibliography-database: is mandatory.
A bibliographic database is required.`
I am sure that this attribute is set, I tested both in the header and command line, so I guess this is a problem in misunderstanding the bibfile as it is biblatex.

[2018-02-01 17:53] ronaldtse commented on #70
Thanks @shahryareiv for reporting -- @paolobrasolin could you help check this? Appreciate it!

[2018-02-06 19:20] paolobrasolin commented on #70
@shahryareiv Unfortunately I was unable to reproduce the error with your report. Could you provide a sample document w/ a biblatex file that have this problem? Thanks.

You exposed a (partially related) issue, though: we are using an [engine](https://github.com/inukshuk/bibtex-ruby) that supports explicitly just BibTeX. I have added a warning that will pop up when loading a `*.biblatex` file, and

[2018-02-07 01:25] shahryareiv commented on #70
Ok, I guess I found the exact problem. It is not Biblatex file. The problem is how it reads attributes. In my case, in the document, a blank line was keeping attributes out of head region and making them disabled.  I was also providing the attributes through CLI but it does not consider them.
So:
`asciidoctor  -r asciidoctor-bibliography -a bibliography-database=library.bib -a bibliography-style=a

[2018-02-07 01:36] ronaldtse commented on #70
@shahryareiv thanks for the confirmation!

Unfortunately the structure of AsciiDoc is as such — it prohibits any blank lines between the title and document attributes. I agree that it is an unnecessary inconvenience, but there’s nothing we can do there.

Is there a specific reason why pipes are needed to join the file, instead of using the Asciidoctor `include::path[]` syntax?

On the other hand,

[2018-02-07 10:20] shahryareiv commented on #70
Thanks @ronaldtse !

To give you an example why CLI attributes are important (and why sometimes I need piping files together):

I have articles and documents that can become standalone articles or chapter of different books.
Each article might have different title depending on its final publishing version.
I use Scrivener and all of my writings are in a few big bindings, where parts of that should

[2018-02-19 14:40] shahryareiv commented on #70
@paolobrasolin , @ronaldtse
I just wonder if I should open a new issue regarding ignoring attributes passed through command-line (explained above)?

[2018-02-20 05:33] ronaldtse commented on #70
Thanks for the reminder @shahryareiv

@paolobrasolin could we fix it up so we don’t ignore the attributes?

@shahryareiv I’m going to ping you separately about your asciimint toolchain :wink:

[2018-03-15 23:59] paolobrasolin opened #71 "Commandline attributes are ignored"
Emerged from #70

[2018-03-16 00:00] #71 closed

[2018-03-16 00:13] #68 closed

[2018-03-16 00:13] #70 closed

[2018-03-17 08:22] ronaldtse commented on #70
@shahryareiv the issue has been fixed and new gem released -- could you help check if the problem still exists? Thanks!

[2018-03-21 23:14] paolobrasolin opened #72 "{sup,sub}scripts from CSL styles are not working"
There is a bug in the `adoc` formatter `CiteProc::Ruby::Formats::Adoc` due to a typo.

[2018-03-21 23:17] paolobrasolin commented on #3
We're at 93% coverage and the missing parts are being indirectly tested. Closing.

[2018-03-21 23:17] #3 closed

[2018-03-21 23:18] #72 closed

[2018-03-29 20:19] shahryareiv commented on #70
@ronaldtse Sorry for late reply. Yes it works fine. Thanks a lot!

[2018-03-30 00:18] ronaldtse commented on #70
Thanks @shahryareiv for the confirmation!

[2018-04-03 18:12] shahryareiv opened #75 "An empty cite:[] is being read in the commented block and it stops"
If there is an empty citation `cite:[]`, even in a commented block, it stops and alarms: "Failed to load AsciiDoc document - No entry with id '' was found in the bibliographic database". There are two things to consider:
1- A comment block is comment and should not be converted
2-It is common to put an empty citation `cite:[]` to fill in later. In latex those empty citations `\cite{}` are translat

[2018-04-04 08:04] shahryareiv opened #76 "Intolerance to any white space in multiple citation"
In a chain multiple citation `cite:[key1]+[key2]+[key3]` just a white space breaks the chain, so `cite:[key1]+[key2]+ [key3]` ignores the third item. I do not know how Asciidoctor tokenizes the text-block and if it is possible to ignore white spaces. I also do not know if there could be cases where ignoring white space might cause globing too much. Otherwise it might be easier for the writer to ca

[2018-04-04 15:02] shahryareiv opened #77 "Feature request: Support Citation for DocBook"
DockBook has citation tag `<citation>` but Asciidoctor does not support that (yet). Regarding that asciidoctor-bibliography already parse citations it can also add this support.
I do not know if Asciidoc -> DocBook is still common for most of users or not, but Asciidoc -> DocBook -> (Xe)Latex is still the most reliable way of creating Latex document from asciidoc and get the Tex family typesetting

[2018-04-05 19:36] ronaldtse commented on #76
@shahryareiv that's indeed an oft-encountered problem with Asciidoctor -- for example, a control phrase that uses underscores or other syntax symbols will get cut off with a linebreak, so it's not a specific issue with `asciidoctor-bibliography`.

We could possibly support the suggested syntax of `cite:[key1;key2;key3]`. Thoughts @paolobrasolin @opoudjis ?

[2018-04-05 19:37] ronaldtse commented on #75
@shahryareiv thanks for the report. The error occurring in a comment certainly makes it a bug.

On the other hand, I agree that empty citations can be filled in later, so we should make this an enhancement in addition to fixing the above.

@paolobrasolin would you have time for this? Thanks!

[2018-04-07 08:31] #67 closed

[2018-04-19 18:16] pela9 opened #78 "citation in footnote"
asciidoctor-bibliography don't seem to handle a citation inside a footnote, which is a rather common scenario

[2018-05-03 21:17] andrewcarver opened #79 "version 0.8.0 didn't work for me"
Folks, yesterday I updated from 0.7.2 to 0.8.0. It broke it: gave me an error that the first thng I cited was not in the database file (which it was). I uninstalled 0.8.0 (which put me back to 0.7.2), and everything worked.

I know I'm using a slightly older version of Ruby:
ruby 2.4.2p198 (2017-09-14 revision 59899) [x64-mingw32]
Could that be the issue?
Thanks.

[2018-05-07 01:52] andrewcarver commented on #79
The problem persisted following an upgrade of Ruby. Here is the trace I'm getting:

Traceback (most recent call last):
        28: from C:/tools/ruby25/bin/asciidoctor:23:in '<main>'
        27: from C:/tools/ruby25/bin/asciidoctor:23:in 'load'
        26: from C:/tools/ruby25/lib/ruby/gems/2.5.0/gems/asciidoctor-1.5.7/bin/asciidoctor:14:in '<top (required)>'
        25: from C:/tools/ruby25/lib/r

[2018-05-08 03:30] ronaldtse commented on #78
@pela9 apologies for the late response. Indeed it is something that we should allow.

@paolobrasolin would you have time to look into this? Thanks!

[2018-05-08 03:32] ronaldtse commented on #79
@andrewcarver sorry for the late response.

Are we speaking of two problems:
1. A citation a comment block should not be checked
2. A bibliographic entry in a BibTeX database is not found despite it being there
?

[2018-05-09 00:14] andrewcarver commented on #79
I guess so. I was not aware, if it's true, that a citation in a comment block should not be checked. In any case, the error arises because 1) it checks this citation, and 2) it says it's not in the datafile, when in actuality it is. Uninstalling 0.8.0 (leaving 0.7.2 as my latest version), and leaving everything else the same, fixes it.

[2018-05-10 15:18] andrewcarver commented on #79
To shed a bit more light:
1. The problem persists even when all citations are non-commented;
2. The extension stumbles at _whatever_ happens to be the first citation in the AsciiDoc; the particular citation is unimportant, all that matters is that it's the first one.

[2018-05-10 17:38] andrewcarver commented on #79
I can tell you where the problem is arising for me; but, I'm not yet sure WHY it is:

It's in `bibliographer_preprocessor.rb`, in the `glob_pattern` method: the line
`Dir.chdir(base_dir) { Dir.glob(pattern) }`
is returning an empty array.

[2018-05-10 17:47] andrewcarver commented on #79
More specifically, the
`Dir.glob(pattern)`
bit is returning an empty array.

[2018-05-10 20:00] andrewcarver commented on #79
So--the question is, should we force the Windows user to lean their slashes forward? Or is their some nice code-emendation that would catch that kind of pattern, and change the direction the user's slashes lean?

[2018-05-10 20:59] andrewcarver commented on #79
Here's a simple (perhaps too simple) fix:

`Dir.chdir(base_dir) { Dir.glob(pattern.gsub( /\\/, '/')) }`

That fixes my Windows-backslashes pattern... If you think that's a good idea (to start with, anyway), I can take this over to a new PR, and we can haggle over it there...

[2018-05-10 22:40] andrewcarver commented on #79
Uh-oh--THAT won't work: `Dir.glob()` allows `'\'` as an escape character...
"Note that this means you cannot use backslash on windows as part of a glob, i.e. `Dir["c:\foo*"]` will not work, use `Dir["c:/foo*"]` instead."
<ouch>

[2018-05-10 22:43] andrewcarver commented on #79
Either we force the Windows users to lean their slashes forward, then; or, we force people not to escape metacharacters in their globs; or, ...??

[2018-05-12 07:54] andrewcarver commented on #78
I've found a workaround. The problem arises because having inline macros _of the standard form_ (e.g., `xref:Anderson98[Anderson & Lebiere, 1998]` inside footnotes gives Asciidoctor difficulties: nesting of square brackets seems to be a parsing challenge (or something.) This is the form of xref asciidoctor-bibliography uses, though, to establish the citations' links to the bibliography.

asciidoct

[2018-05-12 09:02] pela9 commented on #78
Some more notes:

Asciidoctor can handle nested builltin inline macros, but it seems that asciidoctor-bibliography (and asciidoctor-bibtex) can't handle a nested cite:[...] macro inside another, e.g.

footnote:[abc cite:[KEY]  def] is parsed as:  "footnote:[abc cite:[KEY]"   +   "def]"

(I actually use asciidoctor-bibtex and found initially the same problem there, which I have reported also on its

[2018-05-12 09:07] andrewcarver commented on #78
Yes, good point. Asciidoctor does fine with nested square brackets when it's from an inline macro it recognizes and processes. The cite:[] "macro" though, is a cow from someone else's field. Not seeing it as a macro, Asciidoctor figures the footnote has ended, once it sees the first `]`. Thus the parsing-anomalies.

[2018-05-12 09:12] andrewcarver commented on #78
Actually that's a bit over-simplified: When asciidoctor-bibliography is in use, Asciidoctor never has to parse a `cite;[]` "macro", because the extension has actually replaced all those--with Asciidoctor xref macros--by the time Asciidoctor starts parsing. However, as mentioned, asciidoctor is replacing the `cite:[]` "macros" with `xref:target[]` macros--which end with square brackets too. When As

[2018-05-12 09:27] andrewcarver commented on #78
Perhaps when asciidoctor-bibtex started out, it was using the square-bracket xrefs.

[2018-05-12 17:03] andrewcarver commented on #78
And you are correct that in the DocBook conversion, a non-escaped-bracket `xref:targetID[citation-text]` will get parsed as a link--but its closing square bracket and the rest of the footnote (including the created `</link>` endtag) get pushed out of the footnote. However, it's even worse with the HTML conversion: then, the xref doesn't get parsed at all; but remains in current form--except for th

[2018-05-13 03:01] andrewcarver commented on #78
You can see my initial offering, in PR #81. There's an issue Travis-CI uncovered which I've followed up with a comment, and will look into further.

[2018-05-13 06:49] andrewcarver commented on #78
Travis-CI has, now, no substantive complaint: only two "errors", both amounting to, "We expected the square-bracketed xrefs, and you gave us angle-bracketed instead!!" But that's the whole point of the exercise ;)

[2018-05-13 18:34] andrewcarver commented on #78
Let me add that this is a dandy bibliography extension, IMHO. And this (two-line) emendation would make it, well, just terrific.

[2018-07-10 13:51] oncletom commented on #78
Another workaround I found is referencing the citation to make it appear in the bibliography and to reference it via an xref link:

[code]

[2018-07-25 22:11] paolobrasolin commented on #76
Thanks for your feedback @shahryareiv!

I initially though about using semicolons as separators myself, but I decided not to in order to offer a syntax reminiscent of other common macros to target a specific indices within a multiple citations:
[code]

Ignoring whitespace is technically easy but refraining from it avoided ambiguity in edge cases, e.g. when you'd want a *literal* ` + [something]` a

[2018-07-25 22:30] paolobrasolin commented on #77
I think this might be already feasible, @shahryareiv.

We're already had the need to render citations and bibliographies to RFC (essentially XML) when pairing asciidoctor-bibliography with [asciidoctor-rfc](https://github.com/riboseinc/asciidoctor-rfc).

We managed to do that by
* defining `AsciidoctorBibliography::Databases::RFC` to import RFC bibliographic databases and
* writing a [custom CSL s

[2018-08-08 21:02] mdko opened #82 "Including "bibliography:[]" without using citations in document throws error"
Given the file `test.adoc` (which includes the `bibliography` macro but does not use any citations):

[code]

When I run `asciidoctor -r asciidoctor-bibliography --trace test.adoc`, I get the following:

[code]

This fails because it assumes the bibliographer's `occuring_keys` map is empty, since no citations are present in `test.adoc`.

[2018-11-02 20:44] #82 closed

[2018-11-13 16:34] paolobrasolin commented on #75
Solved by #80 and merged in v0.9.0.
Thanks for the report @shahryareiv

[2018-11-13 16:34] #75 closed

[2018-11-13 18:36] ronaldtse commented on #69
This is now Relaton: https://github.com/riboseinc/relaton-models

[2019-02-26 16:54] remohammadi opened #84 "The generated bibliography is incomplete"
While I don't get any error or warning when compiling, the generated bibliography misses multiple items.

The bibliography section of my thesis:
[code]

A paragraph from my thesis:

[code]

While all the citations are generated as expected, the `lukasik_why_2011` is missing in the bibliography section. Its citation is linked to `#bibliography-default-lukasik_why_2011`, but the target is missing.

[2019-02-26 17:00] remohammadi commented on #84
My `Gemfile.lock`:

[code]

[2019-02-26 17:29] remohammadi commented on #84
A minimal reproduction of the issue:
https://github.com/remohammadi/BibliographyIssue84

[2019-03-08 16:48] remohammadi commented on #84
It's related to `CiteProc::Bibliography` silently putting one of the references into `errors` instead of its `references` attribute. That messes a lot with the internal state because you are using the indices of the `filtered_db` in the `render` step. That is a potential source of many evils!

`#<CiteProc::Bibliography @references=[3], @errors=[1]>`

I'm currently going to focus on the error for t

[2019-03-08 18:16] remohammadi commented on #84
The problem is with the 'month' field. `month = mar` doesn't work, while `month = "3~"` works.

[2019-04-23 10:08] CAMOBAP795 commented on #84
@ronaldtse @remohammadi PR is ready for review

[2019-04-24 16:32] ronaldtse commented on #84
Fixed in #89. Thank you @remohammadi for supplying the test and reporting it!

[2019-04-24 16:32] #84 closed

[2019-04-24 17:24] ronaldtse commented on #69
@CAMOBAP795 this is directly related to https://github.com/metanorma/relaton/issues/32

[2019-05-12 23:49] Fiech opened #91 "Citations get parsed within inline source code environment"
Citations within the asciidoctor inline source code environment (backticks) get parsed. This may not be desired as source code environments are often used to actually explain source code behaviour.

So `` `cite:[some_key]` `` gets parsed to `(Autor, Year)` or whatever style you're using, instead of just staying `cite:[some_key]`.

[2019-05-16 20:45] Fiech opened #92 "Multi-Citation of more than two keys not working"
If more than two citations are used in a multi-citation, only the first and the last elements are used:

**foo.adoc:**
[code]

**bibliography.bib:**
[code]

**command:**
[code]

**output:**
![output](https://user-images.githubusercontent.com/7039866/57885835-2370cd00-782c-11e9-8add-ec43481932d9.png)

Tested with the HEAD of this repo, asciidoctor 1.5.8 and 2.0.10dev (from the repo)

[2019-05-17 08:13] ronaldtse commented on #92
@Fiech thanks for reporting this -- it sounds like a parsing issue.

@paolobrasolin do you have time to look at this?

[2019-05-18 13:15] paolobrasolin commented on #92
@Fiech thanks for the excellent report!

I found and fixed the bug in #93 @ronaldtse

[2019-05-18 15:25] ronaldtse commented on #92
Thanks @paolobrasolin ! It’s merged now.

@Fiech could you let us know if you can confirm the fix? Thanks!

[2019-05-18 15:25] #92 closed

[2019-05-21 00:18] Fiech commented on #92
@paolobrasolin @ronaldtse
Awesome! In my MNWE as well in my actual document this works perfectly. Thank you for the quick fix!

[2019-05-21 00:23] Fiech opened #94 "[enhancement] nocite macro for bibliography entry without expicit citation"
Similar to the bibtex \nocite{*} command, I propose a nocite:[..] macro to include entries in the bibliography without explicitly citing them.

I openend a pull request #90 that implements that although I do not claim this would be the best way to do this.

[2019-05-21 01:37] ronaldtse commented on #92
That’s great! Sounds like a gem release should be on the way...

[2019-05-25 09:24] paolobrasolin commented on #78
Thanks everybody for your initiative and thoughtful inputs.

I'm gonna recap the situation:

* `asciidoctor-bibliography` citations do not work in footnotes (thanks @pela9 for reporting this),
* this is caused by the fact that `xref`s do not work in footnotes even in vanilla `asciidoctor`,
* which in turn is caused by a non-trivial problem with the `asciidoctor` parser, see asciidoctor/asciidoctor

[2019-05-27 02:02] ribose-jeffreylau commented on #15
Hi, is this idea still being considered?  Asking cuz this would be something we would start using right away.

[2019-05-29 16:46] paolobrasolin commented on #78
Just released v0.9.2 including this fix.

[2019-05-29 16:46] #78 closed

[2019-06-02 23:04] andrewcarver commented on #78
Many thanks, Paolo and Ronald!
    On Wednesday, May 29, 2019, 10:46:52 AM MDT, Paolo Brasolin <notifications@github.com> wrote:

Just released v0.9.2 including this fix.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-13 18:01] #94 closed

[2019-06-13 18:07] paolobrasolin commented on #94
This new feature was just released as `0.10.0`. Thanks again for your contribution @Fiech!

cc @ronaldtse

[2019-06-14 17:06] paolobrasolin commented on #79
Thanks @andrewcarver, your analysis is on point.

The problem here is that we'd like to allow globs (that's a must, I think), but `Dir.glob` does not like `\`. A possible solution is in #98 if you want to give it a spin. In essence, we can replace `File::ALT_SEPARATOR` (that is, `\`) only when the constant is defined (that is, on Win* systems). I think this is the solution with the leas amount of

[2019-06-14 17:17] paolobrasolin commented on #91
Thanks @Fiech. Good point!

This make sense to me, as it would be impossible to write documentation about `asciidoctor-bibliography` using `asciidoctor-bibliography`. cc @ronaldtse

While I'm at it I could protect all contexts where citations should not be checked (especially since comments already are). I can think of:

- [X] ~inline comments~
- [X] ~block comments~
- [ ] inline code
- [ ] block

[2019-06-14 18:25] andrewcarver commented on #79
I have now and then succumbed to the temptation to put relevant items in my bibliography that I've not actually cited anywhere -- but have read for research-purposes, and think them worth citing. (I believe that some other researchers are known to do this on occasion -- though it is forbidden in some scholarly contexts.) The only way to do this with asciidoctor-bibliography, of which I'm aware, wa

[2019-06-14 18:42] ronaldtse commented on #79
@paolobrasolin is there anything file “invalid” character we can rely on than a space? There are people who use this on Windows (plenty on Metanorma) that I am aware the issue will come up. As long as we have some way of handling spaces in filenames/directories, it’ll be fine.

[2019-06-14 18:45] ronaldtse commented on #91
Agree!

[2019-06-15 10:58] paolobrasolin commented on #79
@andrewcarver we got you covered, then! A couple of days ago version `0.10.0` introduced `nocite` (see #97 and the [readme](https://github.com/riboseinc/asciidoctor-bibliography#tex-mode)) which allows you to do exactly that!

[2019-06-15 13:40] paolobrasolin commented on #79
@ronaldtse I wouldn't go down that road. Reasoning about inter-os compatibility and validity of file names is a mess. Suffice it to say that the only two invalid characters (at filesystem level) in *nix are `NUL` and `/`. All others are valid and usually escaped only to let the shell interpret them literally.

Furthermore, I think that we need something that's both easy to read in the code and usa

[2019-06-16 14:02] pela9 opened #99 "Incompatibility with asciidoctor version >= 2.0"

[2019-06-16 14:05] pela9 commented on #99
I get the following error when using asciidoctor-bibliography:

 Unable to activate asciidoctor-bibliography-0.10.0, because asciidoctor-2.0.10 conflicts with asciidoctor (~> 1.5.6) (Gem::ConflictError)

I'm not familiar with ruby/gem, am I doing something wrong or is asciidoctor-bibliography not compatible with the latest asciidoctor?

[2019-06-16 17:00] paolobrasolin commented on #99
You did nothing wrong. Thanks for bringing this up @pela9!

Your interpretation is correct: `asciidoctor-bibliography-0.10.0` is not compatible with `asciidoctor-2.*`, due to a strict version requirement.

However I did some tests and it appears that everything is working okay even with `asciidoctor-2.*`, so we can probably just relax the requirement.

I prepared a fix for this in #100; which we'l

[2019-06-16 17:06] paolobrasolin commented on #99
@pela9 `asciidoctor-bibliography-0.10.1` was just released.

If you have any problem with it, do let us know!

[2019-06-16 17:06] #99 closed

[2019-06-17 12:33] pela9 opened #101 "Bug with custom attributes when translating to DocBook"
Thanks for all your fixes. I've noticed a strange bug when using asciiidoctor-bibliography to convert to DocBook. The following works fine:

    :bibliography-database: refs.bib
    :bibliography-style: ieee
    ...
    Look for further information in the GNU Make manual cite:[GMAKE].
    Some text.
    #Some highlighted text.#

But if I replace the last line with:

    [.sb]#Some text in semibold

[2019-06-17 12:39] pela9 commented on #101
Sorry for some minor misspellings above, it shall be

    [.sb]#Some text in semibold.#

And there are no triple quotes last in the translation.

[2019-07-05 11:44] pddzaic opened #102 "Question: own styles"
EDIT: Please delete this issue. Everything works as expected. Sorry !!!!

------

Unfortunately, I don't know where to place my question, so I'll place it here once.

There is the possibility to define your own styles. Suppose I have generated a style "test.csl" and it is located in the same directory as my adoc-file.

The following code does not work:

[code]

Compiling leads to:

`
asciidoctor:

[2019-07-05 13:26] #102 closed

[2019-07-06 13:54] paolobrasolin commented on #102
No problem, @pddzaic. 😄

Thanks for using the gem. Feel free to let us know if you find any problems.

[2019-07-06 14:23] paolobrasolin commented on #101
@pela9 Thanks for the report!
I confirm this is a bug. I'm working on it in #103.

[2019-07-07 23:35] neontapir opened #104 ":bibliography-database: not set via asciidoctor-epub3 for included documents"
When using the `asciidoctor-epub3` gem, if I define `:bibliography-database:` in the spine document, `asciidoctor-bibliography` fails to keep that value when parsing included documents. This leads to a crash as documented in [issue #9](https://github.com/riboseinc/asciidoctor-bibliography/issues/9).

`asciidoctor-bibliography` creates the bibliography as expected when generating HTML or PDF with `

[2019-07-08 06:27] pddzaic commented on #104
I have created an minimal working example to show this behavior. Let's assume the following structure:

[code]

where the content is as follows:

References.bib

[code]

meta.adoc
[code]

The first compilation of test. adoc

[code]

works fine.

This content of test.adoc

[code]

leads to an error:
[code]

The same error with meta.adoc:

[code]

and adoc.test:

[code]

[2019-07-09 02:31] neontapir commented on #104
@pddzaic, thank you for reproducing the bug, that's amazing!

For anyone investigating, I confirmed the error also happens when the `include` macro in `test.adoc` follows the variable definitions, which is the typical use case.

[2019-07-09 04:04] ronaldtse commented on #104
@neontapir @pddzaic thank you for the report and the reproducible case!

@paolobrasolin would you have time to look at this? Thanks!

[2019-08-05 06:58] paolobrasolin commented on #101
@pela9 `v0.10.2` was just released to solve the issue.
Thanks for your detailed report!

[2019-08-05 06:58] #101 closed

[2019-08-08 16:37] paolobrasolin commented on #104
@neontapir and @pddzaic thanks again for the report and the sample files!

I just released `0.10.3` to fix this issue.
If you have the chance to test it, please let us know whether that works correctly for you too! 😄

[2019-08-08 16:37] #104 closed

[2019-08-10 09:35] jeksterslab opened #106 "Bib entry with identical author and year"
I have two bibliography entries in my `.bib` file with the same author and year of publication (see below). I typically append `a` and `b` on the `key` to distinguish the entries (e.g., `Cheung_2009a` and `Cheung_2009b`). When I convert the `AsciiDoc` to `html` using `asciidoctor -r asciidoctor-bibliography text.adoc` both entries are referred to as `Cheung, 2009` on the `html` document. Is there

[2019-08-10 09:57] jeksterslab opened #107 "Minor APA format issue"
This is just a minor issue when it comes to using `:bibiliography-style: apa` but academics can be very strict and unforgiving with citation "errors" (however petty they are). I am looking for some guidance going forward. Given the `bib` entry below and using `asciidoctor -r asciidoctor-bibliography text.adoc` I would get this:

Serlin, R. C. (2000). Testing for Robustness in Monte Carlo Studies.

[2019-08-11 01:15] ronaldtse commented on #107
@jeksterslab Thanks for reporting this issue! I wonder if this error stems from the CSL style for APA. It might be the case that the APA style in BibLaTeX is implemented differently from the CSL style for APA.

@paolobrasolin thoughts?

[2019-08-15 07:26] paolobrasolin commented on #107
Let me give you a bit of context.

### BibLaTeX (used by LaTeX)

Different styles require different capitalizations, and the same database should work for all styles. This is why:
* titles should always be in *title-case*
* BibTeX takes care of lower/upper-casing them as required by the style
* acronyms and proper names should be manually protected by curly braces to preserve their case

This allo

[2019-08-15 07:39] paolobrasolin commented on #106
Since the citation keys bookkeeping and citation rendering are handled by two well separated *parts* of the application, there's no straightforward way to automate this.

However, you can use the `suffix` option to obtain the desired result:

[code]

renders to

[code]

@jeksterslab does this solve the problem?

[2019-08-15 08:32] jeksterslab commented on #106
`Using cite:[Cheung_2009a, suffix=a] and cite:[Cheung_2009b, suffix=b].`

renders to

`Using (Cheung, 2009a) and (Cheung, 2009b).`

which is great!

However,

`Using Cheung citeyearpar:[Cheung_2009a, suffix=a] and Cheung citeyearpar:[Cheung_2009b, suffix=b].`

renders to

`Using Cheung (2009, a) and Cheung (2009, b).`

Is there a way to make it

`Using Cheung (2009a) and Cheung (2009b).`?

Also th

[2019-08-15 08:52] jeksterslab commented on #107
Thanks for the clarification! I am leaning towards preprocessing the entries. I'll look up `bibtex-ruby` and `citeproc-ruby`.

[2019-08-15 09:25] paolobrasolin commented on #106
I've checked the APA CSL style:
1. CSL as a standard allows for disambiguating citations (see http://docs.citationstyles.org/en/stable/specification.html#disambiguation) and is able to account for automatically adding year suffixes using `disambiguate-add-year-suffix`
1. the APA style renders `year-prefix`es and enables `disambiguate-add-year-suffix` (see https://editor.citationstyles.org/styleInf

[2019-08-15 10:45] inukshuk commented on #107
How title's are 'title-cased' depends on your locale (or the reference's language if overrides are enabled) and the style in question. If you know that your input data is already using the correct letter casing, the best option is to turn off title-casing in your CSL style (or use a style which does not enforce title-casing). In CSL this is the `text-case="title"` option (i.e., you would remove th

[2019-08-16 21:54] andrewcarver commented on #106
Hi folks,
I want to second the motion made by jeksterslab. Just to throw in my two cents, I would say this glitch is pretty serious. I hope it can be fixed.
Cheers,
Andy

[2019-08-19 12:59] pddzaic opened #108 "Converting directly with Ruby"
How to use asciidoctor-bibliography from the CMD is very well described:

`$ asciidoctor -r asciidoctor-bibliography my_first_document.adoc`

But what is the way directly in ruby? Here my starting point:

[code]

[2019-08-19 13:56] pddzaic commented on #104
Hi paolobrasolin

Back from vacation, I have tested the implementation.

On the first look: it works.

On the second look: Other thinks are broken now.

Let's assume the following file structure with two folders:

[code]

File `test.bib`:

[code]

File `tbl-001.adoc`:

[code]

File `test.adoc`:

[code]

Compiling `C:\test\src>asciidoctor -r asciidoctor-bibliography test.adoc` leads to the followin

[2019-08-19 16:58] paolobrasolin commented on #108
Very little work is needed, as `asciidoctor` extensions are registered as soon as the relative gem is `require`d.

This means that you can simply run `ruby main_a.rb` on

[code]

Alternatively, you can run `ruby -r asciidoctor-bibliography main_b.rb` on

[code]

In fact, the `-r` flag is equivalent to requiring the passed library before executing the script.

[2019-08-19 17:26] paolobrasolin opened #109 "Variable interpolation breaks include"
@pddzaic observed this behaviour in https://github.com/riboseinc/asciidoctor-bibliography/issues/104#issuecomment-522586927

A simpler reproduction is given by `empty.bib`, `bar.adoc` (two empty files) and the following `foo.adoc`:

[code]

While `asciidoctor foo.adoc` works, `asciidoctor -r asciidoctor-bibliography foo.adoc`raises the following error:

[code]

This is caused by #105, a recent fix

[2019-08-19 17:27] paolobrasolin commented on #104
Thanks for the report @pddzaic. I already narrowed down the problem and opened #109.

[2019-08-19 19:20] ronaldtse commented on #108
@paolobrasolin sounds like we should add this to the README. Could you help? Thanks!

[2019-08-20 15:35] andrewcarver commented on #106
I've attached my attempt at a fairly simple-and-quick workaround-solution, in XSLT 2.0. You run this transform on the results of your Asciidoctor-generating.

This one is for applying to an AsciiDoc document aimed at HTML (like the one @jeksterslab was working on). For that, you need to use Asciidoctor's XHTML back-end on the document, and then apply this XSLT transform to the XHTML result -- whic

[2019-08-21 20:38] andrewcarver commented on #106
P.S. It is likely important to clarify one thing:

- Right "out of the box", the bibliography whose citations and entries this XSLT transform will address is the "default" bibliography (that is, the one which asciidoctor-bibliography creates and populates when your citations are like "cite:[Smith_2000]" instead of having a target-value, as in "cite:foo[Smith_2000]"; review the section on [Bibliogr

[2019-09-08 19:31] andrewcarver commented on #106
Testing of what would happen if one applied my transform to a bibliography multiple times revealed some undesirable results :/   I've fixed that problem and re-attached.

Some helpful links:

- the Sourceforge page to [download Saxon-HE](https://sourceforge.net/projects/saxon/files/Saxon-HE/)
- instructions for running Saxon-HE XSLT [from the command-line](https://www.saxonica.com/documentation/in

[2019-09-19 03:51] andrewcarver commented on #106
P.S. I'm getting an error with the newest version of Saxon HE, HE-9-9-1-5J: it's saying ":FATAL: Error: Could not find or load main class net.sf.saxon.Transform".
I've never have this problem with the previous version, HE-9-9-1-4J; you can download that one from the [same Sourceforge page](https://sourceforge.net/projects/saxon/files/Saxon-HE/).

[2019-09-29 01:46] andrewcarver opened #110 "anomalies when using Asciidoctor's ifeval::[] and asciidoctor-bibliography"
Folks,

I'd appreciate some help, I'm at a loss to figure out the following inconsistencies with `ifeval::[]` in Asciidoctor: When using asciidoctor-bibliography, `ifeval` can evaluate whether 2 > 1, but it's stumbling when asked to compare an attribute's value with something.

Example (using the docbook backend): in AsciiDoc I have

`// at the top:`
`:provisional-thing: 1`

`// later:`
`ifeval::[

[2019-09-29 03:47] andrewcarver commented on #110
P.S. Forgot to mention: None of the other extensions I tested were pre-processors. (I didn't have one available.) It would be interesting to test some other PreProcessor-type Asciidoctor extensions, and see if they cause the issue.

[2019-09-29 04:45] andrewcarver commented on #110
Wow -- I tried it with a preprocessor that's in the Asciidoctor Extensions Lab (viz., front-matter-pre-processor), and then tested some more -- and now I can't get `ifeval::[]` to do attribute-value-comparing _at all_ -- whether I'm running asciidoctor-bibliography or not.

Has anyone else had trouble with making attribute-value-comparisons in `ifeval::[] `??

[2019-09-29 04:57] andrewcarver commented on #110
P.P.S. Strangely, THIS comparison works (but is, sadly, useless :/

`ifeval::[ {show-endnotes} == {show-endnotes} ]`

[2019-10-03 00:23] bwklein opened #111 "Errors with asciidoctor-pdf"
When I try to run the following command:
`asciidoctor-pdf -r asciidoctor-bibliography sample-default.adoc`
I see these errors:
[code]
Do I need to do anything special for asciidoctor-pdf to work?

If I run the normal asciidoctor command `asciidoctor -r asciidoctor-bibliography sample-default.adoc` it works as expected and I get the correct html file.

[2019-10-09 17:42] andrewcarver commented on #106
Another update: Discovered the much better way - instead of the way I was using - to fix the excess white-spacing in the HTML output (Saxon was inserting blank lines between elements, on top of indenting). So, replaced my overkill `<xsl:strip-space>` with an `'indent="no"` attribute on `<xsl:output>`.

(Also, changed instructions on using the latter element's `method` attribute: the value 'xhtml'

[2019-10-15 03:58] PascalDutch opened #112 "Numbered bibliography"
Is it possible to create a numbered bibliography? I tried `:bibliography-tex-style: numeric` but that doesn't seem to work (or do anything at all).

Thanks in advance.

[2020-04-01 23:54] clbarnes opened #113 "Comparison with asciidoc-bib and asciidoctor-bibtex"
In particular, asciidoctor-bibliography seems practically indistinguishable from asciidoctor-bibtex. Why should anyone pick this over that? This should be noted in the README.

[2020-08-30 03:07] andrewcarver commented on #106
A little upgrade: Although this XSL-transform approach to addressing Issue 106 seems effective,  it is (as implemented above) also tedious and rather tricky: Not only do you have to run the XSLT transform on your source-file (XHTML or DocBook XML) once for each separate bibliography in it; you must also manually enter the correct bibliography-id (even if you pass it as a parameter) for each run.

[2020-08-30 13:00] andrewcarver commented on #106
Ouch -- I apologize: A few of those filepath-comments I mentioned, I had zealously pasted in but not carefully edited! I've now done the latter as well:

[Issue_106,asciidoctor-bibliography_XProc--pipelines.zip](https://github.com/riboseinc/asciidoctor-bibliography/files/5146808/Issue_106.asciidoctor-bibliography_XProc--pipelines.zip)

[2020-08-31 14:31] andrewcarver commented on #106
Every day, in every way, I'm freeing those comments of errors...

[Issue_106,asciidoctor-bibliography_XProc--pipelines.zip](https://github.com/riboseinc/asciidoctor-bibliography/files/5150867/Issue_106.asciidoctor-bibliography_XProc--pipelines.zip)

[2021-01-23 15:25] vonas commented on #111
Works fine for me (more than one year later).

[2021-03-28 22:27] andrewcarver commented on #106
Efficiency-improvemenbts (significant), some commenting that should help folks unfamiliar with XSLT, and some minor code-cleanup for intelligibility, in the XSLT transforms that do the actual year-suffixing work:

- Issue_106,asciidoctor-bibliography_XHTML.xsl
- Issue_106,asciidoctor-bibliography_DocBook-XML.xsl

[Issue_106,asciidoctor-bibliography_XProc--pipelines.zip](https://github.com/ribosein

[2021-04-21 15:30] sonrad10 commented on #111
I encountered this error as well after changing from Harvard to IEEE style, so I did some looking into it and found [this thread](https://github.com/asciidoctor/asciidoctor-pdf/issues/969#issuecomment-441455247).

TLDR: the problem is that asciidoctor-pdf doesn't support the escaped square brackets used by asciidoctor-bibliography (`&lsqb;` and `&rsqb;`) and instead requires them to be written in

[2022-05-26 22:56] andrewcarver opened #115 "A problem building Nokogiri, when installing on Windows"
Hi team,

I wonder whether someone could corroborate, or else correct, my debugging of a problem I have installing asciidoctor-bibliography on a new Windows 10 machine. And I hope some could give me encouragement / advice, in either case.

(I'm quite weak in the ways that Linux folk 'make' do -- and even weaker on things Ruby; so, I need all the help I can get!)

My new machine's Ruby 3.1.1 instal

[2022-05-27 12:43] andrewcarver commented on #115
I'm THINKING of raising this issue on Nokogiri's bug-tracker (as an [install] issue): the guy who runs Nokogiri also runs [mini_portile](https://github.com/flavorjones/mini_portile), and it appears that the latest version of mini_portile2 (2.8.0) retains this same dubious bit of code.

On the other hand, I doubt they will be eager to help me to install Nokogiri v. 1.8.5, when they've got [native-g

[2022-05-27 14:25] andrewcarver commented on #115
Now raised here: https://github.com/sparklemotion/nokogiri/issues/2558

[2022-05-27 19:21] andrewcarver commented on #115
Interestingly,

- Mike D. was unable to reproduce the problem; he adds that "we've run Windows CI on every version of Nokogiri going back to 2015 and I've never seen this happen. "
- However, he thought of another possibility, which I find quite interesting: "I should also point out that you're running a version of Nokogiri from nearly four years ago with a version of Ruby, and a version of Devkit

[2022-05-27 19:38] andrewcarver commented on #115
Again, just in case it got lost in the shuffle -- the issue REALLY becomes:
- Do we want all users of asciidoctor-bibliography to be constrained to use NO Ruby younger than version 2.5.x?

[2022-08-17 16:34] ronaldtse opened #117 "Migrate to GitHub Actions from Travis"

[2022-08-17 17:39] #117 closed

[2022-08-17 17:39] ronaldtse opened #119 "Change default branch to main"

[2022-08-17 17:40] ronaldtse commented on #119
Done.

[2022-08-17 17:40] #119 closed

[2022-08-18 04:34] ronaldtse commented on #115
@andrewcarver thank you for the continuous input to this gem and apologies for the lax in replying! We have just released a new version of the gem (v0.11.0) that should address this need. Windows is also now a tested platform in GitHub Actions.

Please let us know if it works. Closing this issue for now.

[2022-08-18 04:34] #115 closed

[2022-08-18 23:15] andrewcarver commented on #115
@ronaldtse , the new version installs fine, and works great, for me!
Thanks for your reply, and for this update of your wonderful plugin. Congrats and thanks to your great team!

[2022-08-19 00:32] ronaldtse commented on #115
Thank you @andrewcarver for the confirmation and especially for your patience!